<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= recipe.ratings %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= recipe.image_url %>
  </p>

</div>
