<h1>Recipes
  <%= link_to "Upload new recipes", new_recipe_import_path, class: "btn btn-outline-primary" %>
</h1>

<%= form_with url: "/", method: :get, class: "mt-4 mb-4" do |form| %>
  <div class="input-group">
    <%= form.text_field :filter_by_ingredients, name: "filter_by_ingredients", class: "form-control", "aria-label": "ingredient filter input", describedby: "submit-filter" %>
    <%= form.submit "Propose Recipe", formaction: propose_recipe_url, class: "btn btn-outline-primary", "aria-label": "Propose recipe based on filter" %>
    <%= link_to "Reset", recipes_path, class: "btn btn-outline-primary", "aria-label": "Reset filter" %>
    <%= form.submit "Filter", id: "submit-filter", class: "btn btn-primary", "aria-describedby": "filter-help" %>
  </div>
  <div id="filter-help" class="form-text">Filter multiple necessary ingredients: "Corn, Flour"</div>
<% end %>

<% @recipes.each do |recipe| %>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 card-body">
        <%= image_tag recipe.image_url, class: "rounded float-end", style: "height: 200px", alt: "Cooked #{recipe.title}" if recipe.image_url %>
        <div class="card-img-overlay">
          <h2 class="card-title h5">
            <%= link_to recipe.title, recipe, "aria-label": "title with link to recipe details" %>
          </h2>
        </div>
      </div>
      <div class="col-md-4 border-start my-card-border-color card-body">
        <table class="table table-borderless" aria-label="table for recipe details">
          <tr>
            <td>Cook time</td>
            <td><%= recipe.cook_time %></td>
          </tr>
          <tr>
            <td>Prep time</td>
            <td><%= recipe.prep_time %></td>
          </tr>
          <tr>
            <td>Ratings</td>
            <td><%= recipe.ratings %></td>
          </tr>
          <tr>
            <td>Author</td>
            <td><%= recipe.author %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-4 border-start my-card-border-color card-body">
        <ul aria-label="ingredient list">
          <% recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
