<h1>Recipes
  <%= link_to "Upload new recipes", new_recipe_import_path, class: "btn btn-outline-primary" %>
</h1>

<%= form_with url: "/", method: :get, class: "mt-4" do |form| %>
  <%#= form.label :query, "Search for:" %>
  <div class="input-group">
    <%= form.text_field :filter_by_ingredients, name: "filter_by_ingredients", class: "form-control", "aria-label": "ingredient filter input", describedby: "submit-filter" %>
    <%= form.submit "Propose Recipe", formaction: recipes_propose_url, class: "btn btn-outline-primary", "aria-label": "Propose recipe based on filter" %>
    <%= link_to "Reset", recipes_path, class: "btn btn-outline-primary", "aria-label": "Reset filter" %>
    <%= form.submit "Filter", id: "submit-filter", class: "btn btn-primary", "aria-describedby": "filter-help" %>
  </div>
  <div id="filter-help" class="form-text">Filter multiple necessary ingredients: "Corn, Flour"</div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover" aria-label="table for Recipes">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Cook time</th>
        <th scope="col">Prep time</th>
        <th scope="col">Ratings</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td>
            <%= link_to recipe.title, recipe %>
            <%#= image_tag recipe.image_url, class: "img-thumbnail", alt: "Cooked #{recipe.title}" if recipe.image_url %>
          </td>
          <td>
            <ul>
              <% recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient %></li>
              <% end %>
            </ul>
          </td>
          <td><%= recipe.cook_time %></td>
          <td><%= recipe.prep_time %></td>
          <td><%= recipe.ratings %></td>
          <td><%= recipe.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
